{% extends 'fooddiary/base.html' %}
{% block content %}
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}

<h1><b><u>{{ meal.nameOfMeal }} -- {{ meal.date }}{% if meal.descriptionOfMeal %} -- {{ meal.descriptionOfMeal|truncatechars:15 }} {% endif %}</u></b></h1>

<form method="POST">
    {% csrf_token %}
    <div class="form-group">   
        <label for="nameOfMeal">Title</label>
        <input type="text" name="nameOfMeal" class="form-control" id="title" value="{{ meal.nameOfMeal }}" required>
    </div>
    <div class="form-group">
        <label for="descriptionOfMeal">Description</label>
        <textarea name="descriptionOfMeal" rows="5" class="form-control" id="memo" >{{ meal.descriptionOfMeal }}</textarea>
    </div>
    

    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" name="date" class="form-control" id="Date" value='{{ meal.date|date:"Y-m-d" }}' required>
    </div>
    
    <div class="form-group form-check">
        <input type="checkbox" name="favourite" class="form-check-input" id="favourite" {% if meal.favourite %}checked{% endif %}>
        <label class="form-check-label" for="favourite">Favourite</label>
    </div>
	<div class="form-group">
        <label for="image">Image</label>
        <img src="{{ meal.image.url }}" class="img-responsive">
        <input type="file" name="image" class="form-control" id="Image" value="{{ meal.image }}">
    </div>
    {{ meal.image }}

    <button type="submit"  class="btn btn-primary">Save meal</button>
</form>
<br>


<form method="POST" action="{% url 'deletemeal' meal.id %}">
    {% csrf_token %}
    
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}

